<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>topwear</title>
    <link rel="stylesheet" href="../static/MSTYLES.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="heading">
      <h1>TOPWEAR</h1>
    </div>

    <Ul>
      <li><a href="shrug.html
        ">SHRUG</a></li>
        <li><a href="t-shirts.html
          ">T-SHIRTS</a></li>
          <li><a href="kurtas.html
            ">KURTAS</a></li>




    </Ul>

  </body>
</html>
